@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@layer base {
  body {
    background-color: #fafaf9;
    color: #1c1917;
    font-family: 'DM Sans', sans-serif;
  }
}